# Logs
logs
*.log
npm-debug.log*

# idea
.idea/*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# VS Code
.vscode

# ignore .env
.env
export_var.sh

# package.lock
package-lock.json